main > .container {
    padding: 70px 15px 20px;
}
main {
    flex-grow: 1;
    padding-top: 10px;
}
.bg-dark {
    background-color: #373330 !important;
}

.logo {
    width: 150px;
    height: 50px;
}

.navbar-collapse {
    justify-content: flex-end;
}
.breadcrumb-item {
    a {
        padding: 5px;
        color: gray;
        text-decoration: none;
    }
}

.breadcrumb-item.active {
    color: rgb(239 115 0);
}

.navbar-nav .nav-link, .breadcrumb-item a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

    &:hover {
        background-size: 100% 2px;
    }
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(237 152 73);
}
.demo-item {
    text-decoration: none;
    color: rgb(237 152 73); !important;
    cursor: auto;

    &:hover {
        color: rgb(237 152 73); !important;
    }
}
.list-group-item {
    color: rgba(64, 178, 215, 0.89);
    a {
        color: rgba(64, 178, 215, 0.89);
        background-image: linear-gradient(rgba(64, 178, 215, 0.89), rgba(64, 178, 215, 0.89));
        &:hover {
            color: rgba(64, 178, 215, 0.89);
        }
    }
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}
.col-md-6 {
    color: #939a9d;
}
.flex-shrink-0 {
    flex-shrink: 0 !important;
    background-color: #dde5e7a8;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-group {
    margin-bottom: 1rem;
}